*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.book-wrapper{
    perspective: 1000px;
    height: 400px;
    width: 300px;
    margin: 100px auto 0 auto;
    position: relative;
    /* background-color: green; */
    /* backface-visibility: hidden; */
}
.hard-cover-front{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: burlywood;
    position: absolute;
    transform: rotateY(-34deg) translateZ(8px);
    transform-style: preserve-3d;
    transform-origin: left center;
    /* backface-visibility: hidden; */
}
.spine{
    position: absolute;
    /* left: -10px; */
    content: "";
    height: 100%;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    /* transform: rotateY(80deg); */
    transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    z-index: -1;
    transform-origin: left center;

}
.page-1{
    width: 250px;
    height: 350px;
    position: absolute;
    background-color: dodgerblue;
    top: 50%;
    left: 10px;
    z-index: -1;
    transform: translateY(-50%) rotateY(-25deg);
    /* transform: rotateY(100deg) rotateZ(-30deg); */
    transform-origin: left center;
    /* transform:translateY(-50%) rotateY(-145deg); */
}
.book-wrapper:hover .page-1{
    /* transform: translateY(-50%) rotateY(-180deg); */
    /* z-index: 1; */
}
.leaf_1{
    position: absolute;
    transform: rotateX(-180deg);
    background-color: blue;
    /* border: 10px solid burlywood; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
.leaf_0{
    position: absolute;
    /* transform: rotateX(-180deg); */
    background-color: burlywood;
    /* border-left: 10px inset brown; */
    top: 0;
    left: 0;
    height: 100%;
    backface-visibility: hidden;
    width: 100%;
}
.hard-cover-back{
    z-index: -10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    transform: rotateY(-15deg) translateZ(-8px);
}
.leaf_2{
    position: absolute;
    background-color: red;
    top: 0;
    left: 0;
    height: 100%;
    backface-visibility: hidden;
    width: 100%;
    /* transform: rotateY(34deg) translateZ(34px); */

}
.book-wrapper:hover .hard-cover-front{
    transform: rotateY(180deg);
}
/* .book-wrapper:hover .hard-cover-front::before{
    transform: rotateY(-260deg);
    left: -15px;
    transform-origin: left center;
} */